.mainInfo {
  display: flex;
  flex-direction: column;
  grid-area: main;
  border-radius: 16px;
  position: relative;
  max-width: 348px;
  padding: calc(var(--PADDING-BASE) * 5) calc(var(--PADDING-BASE) * 6);
  background-color: white;
}

.extra {
  position: absolute;
  right: calc(var(--PADDING-BASE) * 8.5);
  top: calc(var(--PADDING-BASE) * 7);
  transform: translateY(100%);
}

.marker {
  display: inline-block;
  width: max-content;
  position: relative;
  left: -24px;
  padding: 4px 24px;
  background-color: var(--disabled-font-color);
  margin-bottom: 24px;
}

.extraInfo {
  box-sizing: border-box;
}

.mainInfoList {
  flex-grow: 1;
  box-sizing: border-box;

  // margin-bottom: 188px;
}

.mainInfoItem {
  max-height: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
  text-overflow: ellipsis;
  color: var(--secondary-color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.mainInfoItemIcon {
  font-size: 24px;

  &:global {
    &.icon-call {
      font-size: 18px;
    }

    &.icon-alternate-mail {
      font-size: 18px;
    }
  }
}

.socialsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 8px;
  margin-bottom: 24px;
}

.socialItem {
  cursor: pointer;
}

.socialIcon {
  font-size: 24px;
}

.dateItem {
  color: var(--dark-gray-color);
}
