.layout {
  max-height: 100vh;
  height: 100vh;
  background-color: var(--disabled-font-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
  margin-left: auto;
  width: 60%;
}

.title {
  color: var(--primary-color);
  margin-bottom: 32px;
}

.subtitle {
  color: var(--secondary-color);
  margin-bottom: 32px;
}

.form {
  display: flex;
  width: 343px;
  flex-direction: column;
  justify-content: center;
}

.login {
  width: 100%;
  margin-bottom: 40px;
}

.password {
  width: 100%;
  margin-bottom: 12px;
}

.checkboxWrap {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  color: var(--disabled-font-color);
}

.loginBtn {
  margin-bottom: 16px;
}

.error {
  color: red;
  margin-bottom: 5px;
}
