:root {
  --EXTRA-SIZE: 4px;
}

.ellipsis {
  display: inline-block;
  width: var(--EXTRA-SIZE);
  height: var(--EXTRA-SIZE);
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow:
    calc(var(--EXTRA-SIZE) + 2px) 0 0 var(--secondary-color),
    calc((var(--EXTRA-SIZE) + 2px) * 2) 0 0 var(--secondary-color);
}
