.layout {
  padding: var(--base-window-padding);
  background-color: var(--disabled-color);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 350px auto 250px 300px;
  grid-template-areas:
    'header header header header'
    'main status workTime event'
    'main tasks docs history';
  gap: 24px;
}

.header {
  grid-area: header;
}

.mainCard {
  grid-area: main;
}

.tasksCard {
  grid-area: tasks;
}

.headerBox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: calc(var(--base-window-padding) / 2);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: var(--ghost-color);
  border-bottom: 2px solid var(--disabled-color);
}

.skeletonWrap {
  flex-grow: 1;
  padding-top: 8px;
}

.skeleton {
  &:nth-child(1) {
    margin-right: 8px;
  }

  &:nth-child(2) {
    margin-bottom: 8px;
  }
}

.name {
  flex-grow: 1;
}

.tg {
  color: var(--dark-gray-color);
}

.views {
  background-color: var(--ghost-color);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.view {
  &.active {
    color: black;
  }
}
