.layout {
  padding: var(--base-window-padding);
  background-color: var(--disabled-color);
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header header'
    'main status workTime event'
    'main tasks docs history';
  gap: 24px;
}

.header {
  grid-area: header;
}

.headerBox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: calc(var(--base-window-padding) / 2);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: white;
  border-bottom: 2px solid var(--disabled-color);
}

.avatar {
  border-radius: 8px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 12px;
}

.name {
  flex-grow: 1;
}

.tg {
  color: var(--dark-gray-color);
}

.views {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.view {
  &.active {
    color: black;
  }
}

.workTime {
  grid-area: workTime;
  padding: 20px 24px;
  border-radius: 16px;
  background-color: white;
}

.workTimeChart {
  height: 100%;
  width: 100%;
}

.docs {
  grid-area: docs;
  display: grid;
  grid-template-rows: repeat(auto, minmax(100px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  border: 3px solid white;
  border-radius: 16px;
  background-color: white;
}

.doc {
  background-color: var(--disabled-color);
}

.event {
  grid-area: event;
  padding: 20px 24px;
  border-radius: 16px;
  background-color: white;
}

.eventList {
  position: relative;
  display: flex;
}

.eventItem {
  position: absolute;
}

@for $i from 1 to 9 {
  .eventItem:nth-child(#{$i}) {
    left: calc(#{$i} * 20px);
  }
}

.avatarEvent {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 12px;
}

.history {
  grid-area: history;
  padding: 20px 24px;
  border-radius: 16px;
  background-color: white;
}
