.layout {
  padding: var(--base-window-padding);
  background-color: var(--disabled-color);
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header header'
    'main status workTime event'
    'main tasks docs history';
  gap: 24px;
}

.header {
  grid-area: header;
}

.headerBox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: calc(var(--base-window-padding) / 2);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: white;
  border-bottom: 2px solid var(--disabled-color);
}

.avatar {
  border-radius: 8px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 12px;
}

.name {
  flex-grow: 1;
}

.tg {
  color: var(--dark-gray-color);
}

.views {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.view {
  &.active {
    color: black;
  }
}

.mainInfo {
  grid-area: main;
  border-radius: 16px;
  position: relative;
  max-width: 348px;
  padding: 20px 24px;
  background-color: white;
}

.marker {
  display: inline-block;
  position: relative;
  left: -24px;
  padding: 4px 24px;
  background-color: var(--disabled-font-color);
  margin-bottom: 24px;
}

.extra {
  box-sizing: border-box;
}

.extraInfo {
  box-sizing: border-box;
}

.mainInfoList {
  box-sizing: border-box;
  margin-bottom: 188px;
}

.mainInfoItem {
  max-height: 48px;
  padding-left: 40px;
  text-overflow: ellipsis;
  color: var(--secondary-color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.socialsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.socialItem {
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.dateItem {
  color: var(--dark-gray-color);
}

.status {
  display: grid;
  grid-template-areas:
    'title chart'
    'list chart';
  grid-area: status;
  padding: 20px 24px;
  border-radius: 16px;
  background-color: white;
}

.statusTitle {
  grid-area: title;
  width: max-content;
  box-sizing: border-box;
}

.statusList {
  grid-area: list;
  max-width: 200px;
  box-sizing: border-box;
}

.chart {
  grid-area: chart;
  width: 100px;
  height: 100px;
}

.tasksContainer {
  grid-area: tasks;
  padding: 20px 24px;
  border-radius: 16px;
  background-color: white;
}

.tasks {
  height: 300px;
  overflow-y: scroll;
}

.tasksTitle {
  box-sizing: border-box;
}

.tasksAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 12px;
}
