.app-dark-theme {
  --primary-color: white;
  --secondary-color-active: #f9fafc;
  --secondary-color: #eff2f7;
  --dark-gray-color: #e5e9f2;
  --disabled-font-color: #d3dce6;
  --medium-gray-color: #8492a6;
  --disabled-color: #3c4858;
  --light-gray-color: #1f2d3d;
  --ghost-color: #050504;
}
