.app-pink-theme {
  --primary-color: #8b004b; /* Насыщенный тёмно-розовый */
  --secondary-color-active: #ff007f; /* Яркий фуксия-розовый */
  --secondary-color: #ff4da6; /* Насыщенный розовый */
  --dark-gray-color: #fff; /* Чисто белый для текста */
  --disabled-font-color: #ffd6e0; /* Светло-розовый для неактивного текста */
  --medium-gray-color: #ff80bf; /* Средний розовый */
  --disabled-color: #f9c; /* Пастельный ярко-розовый */
  --light-gray-color: #ffb3d9; /* Светлый насыщенный розовый */
  --ghost-color: #ffe6f0; /* Почти белый с розовым оттенком */
  --error-color: rgb(255 30 85); /* Очень яркий малиновый для ошибок */
}
