.filters {
  width: var(--filters-width);
  padding: 24px;

  // border-right: 2px solid var(--medium-gray-color);
  overflow-y: scroll;
  height: calc(100vh - var(--header-height));
}

.search {
  margin-bottom: 32px;
}

.title {
  width: max-content;
  display: inline-block;
  text-transform: uppercase;
  color: var(--dark-gray-color);
  margin-bottom: 32px;
  margin-right: 16px;
}

.filterIcon {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(calc(-50% + 2.4px));
  color: var(--secondary-color-active);
}

.listTitle {
  text-transform: uppercase;
  color: var(--dark-gray-color);
  opacity: 0.4;
}

.listItem {
  height: 48px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.itemTitle {
  flex-grow: 1;
  color: var(--secondary-color);
}

.itemCount {
  color: var(--secondary-color);
}

// Чтоб линтер не ругался
.component {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--dark-gray-color);
}

.componentTitle {
  flex-grow: 1;
  color: var(--secondary-color);
}

.count {
  color: var(--secondary-color);
}
