.filters {
  width: var(--filters-width);
  padding: 24px;
  border-right: 2px solid var(--medium-gray-color);
}

.search {
  margin-bottom: 32px;
}

.title {
  width: max-content;
  display: inline-block;
  text-transform: uppercase;
  color: var(--dark-gray-color);
  margin-bottom: 32px;
  margin-right: 16px;
}

.filterIcon {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(calc(-50% + 2.4px));
  color: var(--secondary-color-active);
}

.listTitle {
  text-transform: uppercase;
  color: var(--dark-gray-color);
  opacity: 0.4;
}

.listItem {
  height: 48px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.itemTitle {
  flex-grow: 1;
  color: var(--secondary-color);
}

.itemCount {
  color: var(--secondary-color);
}
