.workTime {
  position: relative;
  grid-area: workTime;
  padding: 20px 24px;
  border-radius: 16px;
  background-color: white;
}

.title {
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.extra {
  position: absolute;
  top: calc(var(--PADDING-BASE) * 5.5);
  right: calc(var(--PADDING-BASE) * 6);
}

.workTimeChart {
  position: relative;
  left: -7px;
  margin-bottom: 16px;
}

.chartLabel {
  display: block;
  color: var(--secondary-color);
  margin-bottom: 8px;
}

.extraInfo {
  color: var(--dark-gray-color);

  &::first-letter {
    font-size: 16px;
    font-weight: bold;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
