:root {
  --header-height: 80px;
  --sidebar-width: 104px;
  --filters-width: 348px;
  --font-bebas-size-s: 16px;
  --font-bebas-size-m: 20px;
  --font-bebas-size-l: 24px;
  --font-bebas-size-xl: 32px;
  --font-bebas-size-xxl: 40px;
  --font-avenir-size-s: 12px;
  --font-avenir-size-m: 14px;
  --font-avenir-size-l: 16px;
  --font-avenir-size-xl: 20px;
  --font-avenir-size-xxl: 24px;
  --font-avenir-size-huge: 32px;
  --paragraphs-margin-l: 16px;
  --paragraphs-margin-m: 12px;
  --paragraphs-margin-s: 8px;
  --base-window-padding: 40px;
  --PADDING-BASE: 4px;
}
