.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.listItem {
  padding: 8px;
}

.itemTitle {
  color: var(--primary-color);
  margin-right: 8px;
}

.itemCount {
  background-color: var(--primary-color);
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--ghost-color);
}

.viewToggle {
  position: relative;
  margin-left: auto;
  display: inline-block;
  border-radius: 5px;
}

.toggleItem {
  cursor: pointer;
  padding: 8px;
  color: var(--secondary-color);
  border: 1px solid var(--dark-gray-color);

  &:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.active {
    border-color: var(--primary-color);
    color: var(--ghost-color);
    background-color: var(--primary-color);
  }
}

.toggleItemDefault {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
