.header {
  padding-left: 24px;
  padding-right: var(--base-window-padding);
  height: var(--header-height);
  background-color: var(--light-gray-color);
  display: flex;
  align-items: center;
  gap: 24px;
  grid-area: header;
}

.title {
  flex-grow: 1;
}

.icon {
  font-size: 24px;
  color: var(--secondary-color);
}

.tooltip {
  position: relative;
  top: 2px;
  display: inline-block;
}
