.container {
  width: max-content;
  top: 100%;
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.tooltip {
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  left: 0;
  top: 0;
  position: absolute;
  padding: 12px 16px;
  background-color: var(--secondary-color-active);
  color: white;
  border-radius: 12px;
  text-align: center;
  transition: opacity 0.1s ease-in-out;

  &.top {
    left: 50%;
    transform: translate(-50%, -106%);

    &::before {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 3px solid var(--secondary-color-active);
    }
  }

  &.right {
    left: 100%;
    top: 50%;
    transform: translate(6%, -50%);

    &::before {
      left: 0%;
      bottom: 50%;
      transform: translate(-60%, 50%) rotate(270deg);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 3px solid var(--secondary-color-active);
    }
  }

  &.bottom {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 6%);

    &::before {
      left: 50%;
      bottom: 100%;
      transform: translate(-50%, 0%);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 3px solid var(--secondary-color-active);
    }
  }

  &.left {
    top: 50%;
    transform: translate(-106%, -50%);

    &::before {
      left: 100%;
      bottom: 50%;
      transform: translate(-40%, 50%) rotate(90deg);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 3px solid var(--secondary-color-active);
    }
  }
}

.right::before,
.left::before,
.top::before,
.bottom::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
