.list {
  // &.list {
  // display: flex;
  // flex-direction: column;
  // gap: 8px;
  // }

  .card {
    width: calc(100% - 10px);
  }

  .cardSkeleton {
    width: calc(100% - 10px);
    height: 80px;
  }

  .rating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    width: max-content;
    z-index: 100;
  }
}

.grid {
  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    gap: 28px;
  }

  .card {
    box-sizing: border-box;
  }

  .cardSkeleton {
    width: 100%;
    min-height: 270px;
  }

  .rating {
    position: absolute;
    right: calc(var(--PADDING-BASE) * 8);
    top: calc(var(--PADDING-BASE) * 4);
    width: max-content;
    z-index: 100;
  }
}
