:root {
  --CHECKMARK-SIZE: 16px;
}

.container {
  cursor: pointer;
  width: max-content;
  position: relative;
  padding-left: calc(var(--CHECKMARK-SIZE) + 8px);
  color: var(--disabled-font-color);
}

.input:checked ~ .checkmark + label {
  color: var(--ghost-color);
}

.checkmarkContainer {
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(0, -50%);
  width: var(--CHECKMARK-SIZE);
  height: var(--CHECKMARK-SIZE);
  background-color: var(--ghost-color);
  border: 1px solid var(--disabled-font-color);
  border-radius: 5px;
}

.checkmark {
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align: text-top;
  font-size: 8px;
  color: var(--ghost-color);
}

.input {
  width: 0;
  height: 0;

  &:checked ~ .checkmarkContainer {
    border: 0;
    background-color: var(--secondary-color);
  }

  &:disabled ~ .checkmarkContainer {
    background-color: var(--medium-gray-color);
  }
}
